<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Yazılım Bilimi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .box{
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin-right: 5px;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="box" :style="{ 'background-color' : color  } " ></div>
        <div  class="box" :style="  customStyle" > </div>
        <div class="box" ></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="height">
        
    </div>
    <script>
        new Vue({
            el:"#app",
            data: {
                color : "green",
                height : 100
            },
            computed : {
                customStyle : function (){
                    return {
                        backgroundColor : this.color,
                        height : this.height + "px"
                    }
                }

            }
           
        })
    </script>

</body>

</html>